<div class="container">
    <div class="row" id="pe">
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="https://i.imgur.com/E8ovEka.jpg" class="img-fluid" alt="Error 404">
        </div>
            <h3>La página a la que está tratando de acceder no existe</h3>
        <div>
            <br>
        <div class="text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="/">
                <button class="btn btn-dark">Volver</button>
            </a>        
        </div>
    </div>
</div>

