
  <div id="projects">
  <h3>PROYECTOS</h3>
  <app-addbutton *ngIf="login" (click)="abrirModalAgregar()"></app-addbutton>
  <br>
  <br>
  <br>
  <div class="card mb-3" *ngFor="let Pro of proyecto">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="Pro.url" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex justify-content-between">
          <h5 class="card-title">{{Pro.titulo}}</h5>
          <div *ngIf="login">
            <app-editbutton  (click)="abrirModal(Pro.idproyecto)" class="me-2"></app-editbutton>
            <app-deletebutton (click)="borrarProyecto(Pro.idproyecto)"></app-deletebutton>
          </div>
        </div>
          <p class="card-text">{{Pro.descripcion}}</p>
          <a href="https://github.com/" class="btn btn-primary" target="_blank">Ir al proyecto</a>
        </div>
      </div>
    </div>
  </div>
</div>



