.educacion {
     background: #610c63;
      padding: 6px;
      border-radius: 20px;
      padding: 1rem;
      margin: 1rem;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
    } 
h3{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 20px;
    color: papayawhip;
}    
.col-md-4 {
    max-height: 20vh;
    max-width: 20vw;
    object-fit: scale-down; 
    align-items: center;
    justify-content: center;
    display: flex;
}


img {
    width: 1 rem;
    height: 50%;
    object-fit: contain;
}